.integrantes-grid{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1.6rem;
    transition: 0.5s;
}

.integrante-card{
    padding: 2.4rem;
    border: 0.1rem solid var(--linha);
    border-radius: 12px;
    background-color: var(--card-color);
    transition: 0.5s;
}

.integrante-card p{
    color: var(--text-color-segundaria);
    margin: 0.2rem 0 0.5rem;
}

.foto-integrante img{
    display: grid;
    place-items: center;
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.4rem;
    border-radius: 1.2rem;
    object-position: center;
    object-fit: cover;
}

.integrante-card:hover{
    border: 0.1rem solid var(--color-amarelo);
}

.integrantes-grid:hover .integrante-card{
    opacity: 0.9;
    transform: scale(0.98);
    transition: 0.5s;
}

.integrantes-grid .integrante-card:hover{
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: scale(1.02);
    transition: 0.5s;
}

.fa-square-linkedin{
    transition: 0.5s ease-in;
}

.fa-square-linkedin:hover{
    color: var(--color-amarelo);
    transition: 0.5s ease;
    transform: rotate(3deg) scale(1.08);
}

.fa-github{
    transform: 0.5s ease-in;
}

.fa-github:hover{
    color: var(--color-amarelo);
    transition: 0.5s ease;
    transform: rotate(-3deg) scale(1.08);
}