.sobre-grid{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}

.sobre-grid h3{
    color: var(--color-amarelo);
}

.sobre-grid p,
.sobre-grid h2 {
    grid-column-start: 1;
}


.sobre-card {
    grid-column: 2;
    align-self: center;
    transform: translateY(-10rem);
    padding: 2.4rem;
}

.info-card{
    padding: 2.4rem;
    margin-bottom: 1rem;
}

.cards-grid{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3,1fr);
}

.cards-grid h3 {
    color: var(--color-amarelo);
}

.cards-grid:hover .info-card{
    opacity: 0.9;
    transform: scale(0.96);
    transition: 0.5s;
}

.cards-grid .info-card:hover{
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: scale(1.06);
    transition: 0.5s;
}
