.fluxo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.solucao-fluxo{
    margin-top: 2.4rem;
}

.fluxo-card{
    padding: 2.4rem;
}

.fluxo-card p{
    color: var(--text-color-segundaria);
}

.fluxo-card span{
    background: var(--color-amarelo);
    display: grid;
    place-items: center;
    width: 4.4rem;
    height: 4.4rem;
    margin-bottom: 1.4rem;
    border-radius: 100px;
    color: var(--color-preto);
    font-weight: 700;
}

.solucao-grid{
    display: grid;
    grid-template-columns: 1fr 0.9fr;
    gap: 4rem;
    align-items: center;
}

.mensagem-alerta{
    padding: 2.4rem;
    border-left: 0.6rem solid var(--color-laranja);
}

.mensagem-topo{
    margin: 1rem 0;
    color: var(--color-amarelo);
    font-weight: bold;
}

.mensagem-alerta{
    margin-bottom: 1rem;
    color: var(--color-offwhite);
}

.mensagem-alerta .botao{
    margin-top: 1.6rem;
}

.fluxo-grid:hover .fluxo-card{
    opacity: 0.9;
    transform: scale(0.96);
    transition: 0.5s;
}

.fluxo-grid .fluxo-card:hover{
    position: relative;
    z-index: 1;
    opacity: 1;
    transform: scale(1.06);
    transition: 0.5s;
}
